{% extends "base.html" %}

{% block title %}Nuestro Equipo{% endblock %}

{% block content %}
    <h1 class="mb-3 text-primary section-fade">Nuestro Equipo</h1>

    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary mb-3 section-fade">&larr; Volver a la página principal</a>

    <table id="tablaEquipo" class="section-fade">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr class="table-row-fade">
                <td>{{ persona['nombre_completo'] }}</td>
                <td>{{ persona['cargo'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block page_scripts %}
<script>
$(document).ready(function() {
    // Animación escalonada de las filas
    $(".table-row-fade").each(function(i){
        let row = $(this);
        setTimeout(function(){
            row.addClass("visible-row");
        }, i * 150); // Retraso de 150ms entre cada fila
    });
});
</script>
{% endblock %}