{% extends "base.html" %}

{% block title %}
    Página Principal - Mi Empresa
{% endblock %}

{% block content %}
    <section id="vision">
        <h2>Nuestra Visión</h2>
        <p>Convertirnos en la tienda en línea de referencia en México para la venta de partes y accesorios de computadora...</p>
    </section>

    <hr>

    <section id="mision">
        <h2>Nuestra Misión</h2>
        <p>Brindar a nuestros clientes componentes de calidad, asesoría especializada y una experiencia de compra sencilla...</p>
    </section>
{% endblock %}